<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact</title>
    <link rel="stylesheet" href="assets/style.css">
  </head>
  <body>
    <header>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/my_projects">My projects</a>
      <a href="/blog">Blog</a>
      <a href="/contact">Contact</a>
    </header>

    <h1>Contact</h1>

    <div class="main_text">
      Name, Lastname <br>
      Address <br>
      Phone number <br>
      email@email.gmail <br>
    </div>

    <footer>Bye, bye...</footer>
  </body>
</html>
